<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>bbs</display-name>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>
	<filter>
		<description>generated-persistence-filter</description>
		<filter-name>MySql_bbsFilter</filter-name>
		<filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
		</filter-class>
		<init-param>
			<param-name>entityManagerFactoryBeanName</param-name>
			<param-value>MySql_bbs</param-value>
		</init-param>
	</filter>
	<filter>
		<description>generated-sitemesh-filter</description>
		<filter-name>Sitemesh Filter</filter-name>
		<filter-class>
			com.opensymphony.module.sitemesh.filter.PageFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MySql_bbsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>Sitemesh Filter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	<servlet>
		<description>generated-servlet</description>
		<servlet-name>bbs Servlet</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:bbs-web-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>generated-resources-servlet</description>
		<servlet-name>Resource Servlet</servlet-name>
		<servlet-class>
			org.springframework.js.resource.ResourceServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resource Servlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteCommentUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectCommentUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newCommentForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteCommentForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveCommentUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/indexComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveCommentForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteCommentForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newCommentUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteCommentUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectCommentForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editCommentUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/listCommentForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editCommentForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/listCommentUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newForumThreadComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/indexForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveForumThreadForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteForumThreadForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newForumThreadUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteForumThreadUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectForumThreadComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveForumThreadUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteForumThreadComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editForumThreadForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectForumThreadUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveForumThreadComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newForumThreadForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteForumThreadComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteForumThreadForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editForumThreadUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editForumThreadComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectForumThreadForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/listForumThreadUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/listForumThreadComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newForumThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/listForumThreadForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteForumThreadUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/listForumForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteForumForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/indexForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newForumForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteForumForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editForumForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteForum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectForumForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveForumForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/listUserForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newUserForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/listUserComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveUserAuthorities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteUserComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editUserAuthorities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectUserComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveUserComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteUserAuthorities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteUserAuthorities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editUserComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newUserAuthorities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newUserComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveUserForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteUserForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteUserForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectUserForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/indexUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editUserForumThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/listUserAuthorities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteUserComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectUserAuthorities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveAuthority</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectAuthority</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/selectAuthorityUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/saveAuthorityUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editAuthority</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/listAuthorityUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newAuthority</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/indexAuthority</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteAuthority</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/editAuthorityUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/deleteAuthorityUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteAuthorityUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/newAuthorityUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bbs Servlet</servlet-name>
		<url-pattern>/confirmDeleteAuthority</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
<!-- 	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list> -->
</web-app>
